@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

* {
  font-family: "News Cycle", sans-serif;
}
body {
  background-color: #f1f1f1;
  margin: 0;
}
nav {
  background-color: #b31c01;
}

li {
  display: inline-block;
  float: none;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #b31c01;
}

h4 {
  background-color: #e5e1db;
}

li a {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 50px;
}

li a:hover {
  border-bottom: 3px solid #ffffff;
}

ul {
  list-style-type: none;
  text-align: center;
  display: table;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  background-color: #e5e1db;
  text-align: center;
}

header h1 {
  font-weight: bold;
}

section {
  margin-bottom: 300px;
}

footer {
  background-color: #e5e1db;
  padding: 50px;
}

img {
  width: 350px;
}

section {
  padding-bottom: 50px;
}

.redes {
  float: right;
  padding-right: 80px;
}

#sobremim {
  margin: 100px;
}

#sobremim img {
  padding-right: 60px;
  float: left;
  width: 180px;
}

#sobremim p {
  padding-top: 20px;
  width: 1000px;
  text-align: justify;
}

.footer-text {
  text-align: center;
  font-weight: bold;
}

.logo {
  width: 60px;
  height: 60px;
}

.img-sobre {
  width: 150px;
  border: 4px solid #ce7092;
  border-radius: 100%;
}

.column {
  float: left;
  width: 30%;
  padding: 15px;
  text-align: center;
}

.column p {
  text-align: justify;
}

#contato h3 {
  padding: 20px;
  text-align: center;
}

.form {
  text-align: center;
  padding: 50px;
}

#saibamais {
  padding: 50px;
  text-align: center;
}
#noticias {
  padding-bottom: 900px;
}

.voltar {
  float: right;
}

.voltar a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* Responsividade */
@media (max-width: 600px) {
  iframe,
  .column {
    width: 100%;
  }

  .column p,
  h4 {
    width: 95%;
  }

  figurecaption {
    padding: 10px;
  }

  footer {
    margin-top: 2050px;
  }

  li a {
    padding: 20px 20px;
  }

  .sb,
  .ct,
  .sm {
    margin-top: 10px;
  }

  #sobremim p {
    padding-top: 200px;
    width: 100%;
  }

  .redes {
    padding-right: 5px;
  }

  footer .voltar {
    padding-right: 130px;
  }
}
